/* Общие стили для хедера */

body::-webkit-scrollbar { width: 0; height: 0; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 50px;
  background-color: #5a7b6e;
  color: #e6e6e6;
  width: 100%;
  box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.1);
}


.logo-text {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.burgerMenuButton {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navItem {
  display: block;
  font-size: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.logoutButton {
  margin-top: auto;
  background-color: #c75757;
  color: rgb(237, 217, 217);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 50%;
  align-self: center;
  border-radius: 8px;
  margin-bottom: 50px;
}
.nav {
display: none;
position: absolute;
top: 50px;
left: 0;
background-color: #4d4b4b;
width: 100%;
padding: 20px;
flex-direction: column;
gap: 10px;
}

.nav.open {
display: flex;
width: 100%;
height: calc(100vh - 50px);

}

.userSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 20px;
}
