.re-record-btn {
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  color: #3b3b3b;
  background-image: url(../assets/delete.png);
  background-size: 50%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(109, 154, 186);
  margin-left: auto;
  border-radius: 30px;
  height: 45px;
  width: 45px;
  }

.stop-record-btn{
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  font-family: "Raleway";
  color: #3b3b3b;
  background-image: url(../assets/stop.png);
  background-size: 50%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(212, 39, 39);
  border-radius: 30px;
  height: 45px;
  width: 45px;
  }

.record-btn {
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway";
  color: #1a1a1a;
  background-color: rgb(143, 180, 146);
  background-image: url(../assets/microphone.png);
  background-size: 26px;
  background-position: 90% center; 
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-left: auto;
  height: 45px;
  width: 100%;
  }
  


.add-word-wrapper {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
}

.add-form {
  background-color: rgb(193, 146, 154);
  padding: 20px;
  width: 85%;
  max-width: 400px;
  border-radius: 18px;
  margin-bottom: 20px;
}

.add-input {
  border: none;
  width: 100%;
  height: 45px;
  margin-bottom: 16px;
  padding: 18px;
  border-radius: 30px;
  font-size: 16px;
}

.add-word-text {
  width: 85%;
  margin-bottom: 10px;
  color: #3b3b3b;
  user-select: none;
}

.record-wrapper {
  display: flex;
  background-color: #a6bca6;
  border-radius: 30px;
  height: 45px;
  
}

.audio-player-wrapper {
  width: 92%;
}

.audio-player {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-play-btn.playing {
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  color: #3b3b3b;
  background-color: rgb(117, 167, 105);
  background-image: url(../assets/pause.png);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 45px;
  width: 45px;
}

.player-play-btn.paused {
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  color: #3b3b3b;
  background-color: rgb(117, 167, 105);
  background-image: url(../assets/play.png);
  background-size: contain;
  background-size: 50%;
  background-position: center;
   background-repeat: no-repeat;
  border-radius: 30px;
  height: 45px;
  width: 45px;
}

.indicator-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.record-duration-text {
  align-self: center;
  margin-left: 10px;
  width: 42px;
  font-size: 14px;
  font-family: sans-serif;
}

.player-time {
  align-self: center;
  text-align: center;
  width: 85%;
  font-size: 14px;
  font-family: sans-serif;
}

.save-btn {
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
}

/* vave animation */
@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1.2);
  }
}


.boxContainer{
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 30px;
  --boxSize: 5px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 9);
}

.box{
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #000000;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1{
  animation-name: quiet;
}

.box2{
  animation-name: normal;
}

.box3{
  animation-name: quiet;
}

.box4{
  animation-name: loud;
}

.box5{
  animation-name: quiet;
}

.success-msg {
  color: green;
  text-align: center;
  margin-top: 6px;
  font-weight: 500;
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: 6px;
  font-weight: 500;
}