.games-container {
  width: 100%;
  height: calc(100vh - 95px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(121, 222, 222);

}

/* Начальный экран */
.start-screen {
  flex-direction: column;
}

.game-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.start-btn {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Центральный круг с удинским словом */
.center-circle {
  position: relative;
  height: 135px;
  max-width: 200px; 
  width: 100%; 
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 500;
  color: #7176a5;
  position: absolute;
  z-index: 2;
  cursor: grab;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-circle::before {
  content: '';
  background-image: url(../assets/cloud.png);
  background-size: cover;
  width: 200px;
  height: 135px;
  position: absolute;
  bottom: 0;
  z-index: -10;
}
/* Кнопка прослушивания */
.listen-btn {
  position: absolute;
  top: calc(50% + 90px);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  font-size: 15px;
  
  font-weight: 500;
  color: #5c686b;
  font-family: "Rubik", serif;
  z-index: 3;
  cursor: pointer;
  border: none;
  border-radius: 12px;

}

/* Оболочка для drop зон */
.options-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Общие стили для drop зон */
.option-circle {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Позиционирование drop зон */
/* Верхняя зона */
/* Верхняя зона */
.options-wrapper > :nth-child(1) {
  background: url(../assets/cloudy.png) 0 100% repeat-x, url(../assets/cloudy.png) 150px 100% repeat-x;
  background-size: contain; /* если требуется */
  border-radius: 0 0 15% 15%;
  background-repeat: round;
  height: 150px;
  max-width: 1024px;
  width: 100%;
  align-items: flex-end;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
  color: #2a5b67;
  transition: background 1s ease-in; /* или transition: background-size 0.3s ease; */
}

.options-wrapper > :nth-child(1).hovered {
  background: url(../assets/cloudy.png) 20px 100% repeat-x, url(../assets/cloudy.png) 180px 100% repeat-x;
  background-size: contain;
}


/* Левая зона (вариант "не знаю") */
.options-wrapper > :nth-child(2) {
  top: 30%;
  left: 60px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #ffee30;
  color: #724141;
}

/* Нижняя зона */
.options-wrapper > :nth-child(3) {
  background: url(../assets/bush.png) 0 100% repeat-x, url(../assets/bush.png) 180px 100% repeat-x;
  background-size: contain;
  border-radius: 15% 15% 0 0;
  background-repeat: round;
  height: 150px;
  max-width: 1024px;
  width: 100%;
  bottom: 0;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  color: #7a4423;
  transition: background 1.3s ease; /* или transition: background-size 0.3s ease; */

}
.options-wrapper > :nth-child(3).hovered {
  background: url(../assets/bush.png) 20px 100% repeat-x, url(../assets/bush.png) 210px 100% repeat-x;
  background-size: contain;
}

/* Для drop зоны "не знаю" */
.option-circle.dont-know {

}

/* Hover-эффект для drop зон */
.option-circle:hover {

}

.feedback {
  position: absolute;
  top: 40%;
  right: 90px;
  width: fit-content;
  text-align: center;
  font-size: 26px;
  color: #fff;
  z-index: 10;
}

/* Стили для кастомного drag layer */
.custom-drag-layer {
  opacity: 1;
  pointer-events: none;
}

@media (max-width: 500px) {
  .custom-drag-layer {
    opacity: 1;
  }  
  
}
.feedback-icon {
  width: 75px;
  height: 75px;
}