@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  width: 100%;
  background-color: rgb(201, 206, 200);
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.section-title {
  color: #175f29;
  margin-bottom: 20px;
  font-size: 34px;
  user-select: none;
}

.page-wrapper {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
}